PORT=5000
MONGO_URI=mongodb://shrishtirauthan007_db_user:<db_password>@ac-gfqqkcn-shard-00-00.mm4fpfe.mongodb.net:27017,ac-gfqqkcn-shard-00-01.mm4fpfe.mongodb.net:27017,ac-gfqqkcn-shard-00-02.mm4fpfe.mongodb.net:27017/?ssl=true&replicaSet=atlas-50ntsw-shard-0&authSource=admin&appName=Cluster0